@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.bg-custom{
    background: linear-gradient(45deg,#6155D4,rgb(7, 4, 51));
}
.custom-color{
    font-family: 'Permanent Marker', cursive;
    color: white!important;
}
.navbar-brand{
    width: 32px;
    height:32px;
    fill: white;
    transition: all 0.5s;
    margin-right: 10px;
}
.navbar-brand:hover{
    transform: rotatez(-25deg);
}
.navbar-brand{
    font-size: 0;
}
.custom-navbar{
    padding: 0;
}
.navbar{
    position: fixed;
    width: 100%;
}

.carrousel{
    width: 80%;
    margin-top: 200px; 
    position: absolute;
}

.contenedor{
    display: flex;
    justify-content: center;
    background: black;
}


img{
    height: 200px;
    width: 100%;   
}